.SearchBox {
    position: relative;
}

.SearchInput {
    width: 100%;
    padding: 1.2rem 6rem;
    font-size: 1.4rem;
    color: rgb(83, 83, 83);
    background-color: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    border: none;
}

.SearchArrowBack {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3000;
    width: 4rem;
    height: 5rem;
}